body {
    margin: 15px!important;
}

#search-input {
    margin: 15px;
}

#searchText {
    margin: 0 0 15px 15px;
}

.input-box {
    width: 200px!important;
    height: 50px!important;;
}

.button-text {
    margin: 5px;
}

.button-gif {
    margin: 10px;
}