body {
    margin: 15px!important;
}

html {
    background-image: url(../images/passport1.jpg)!important;
    background-repeat: repeat;
    background-size: 20%;
}

.bodyText {
    margin: 0 0 0 15px;
}

.input-box {
    width: 200px!important;
    height: 50px!important;;
}

.button-text {
    margin: 10px 5px 0 0;
}

.rating {
    text-align: center;
    margin-bottom: 15px;
}

.searchedGIF {
    display: inline-block;
    margin: 5px;
}

#gifs-title {
    margin-top: 5px;
}

#gif-space {
    margin: auto;
}

#searchText {
    margin: 0 0 15px 15px;
}

#new-search {
    border-style: none none double none;
    border-width: 0 0 1px 0;
    margin-top: 15px;
}
